<link rel="stylesheet" class="aplayer-secondary-style-marker" href="\some\place\APlayer.min.css"><script src="\some\place\APlayer.min.js" class="aplayer-secondary-script-marker"></script><script class="meting-secondary-script-marker" src="\some\place\Meting.min.js"></script>/*鼠标样式 */
  body {
    cursor: url("/img/huaji.cur"),auto !important
  }
  a {
      cursor: url("/img/laji.cur"),auto !important
  }
  .live2d-widget-dialog-container{
	height: auto !important;
	bottom: 70% !important;
	width: 200px !important;
	right: 10px !important;
  }
  .live2d-widget-dialog{
	line-height: 1.5;
}